
* {
     margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #A7C7E7;
}




// Nav Bar 

#nav-bar{
     nav{
        
        ul{
            // positioning the whole nav bar 
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10%;
            
            list-style: none;
            justify-content: right;
            
           li{  
                
                // text positioning
                text-align: center;
                
                // aligning nav bar
                margin-top: 20%;   
                a {
                    // NAV bar text styling
                    
                    // padding controls size of container
                    

                    padding-left: 8%;
                    padding-right: 8%;
                    padding-top: 5%;
                    padding-bottom: 5%;


                    

                    // styling
                    font-family:monospace;
                    font-size: larger;
                    text-decoration: none;
                    color: #b09854;
                    border-radius: 48px;
                    background: linear-gradient(145deg, #cfe5fa, #96b3d0);
                    box-shadow:  5px 5px 8px #6d8196, -5px -5px 8px #e1ffff;
                    
                    
                }
                
                a:hover{
                    color: #fde5a3;
                    border-radius: 60px;
                    background: linear-gradient(145deg, #81a0be, #b3d5f7);
                    box-shadow: 5px 5px 8px #788ea4,
                                -5px -5px 8px #d4edff;
                }
           }
        }
        
    }
}

#p1-intro {
    // background image bolier plate
    background-image: url("../images/wave-haikei.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    // *******

   
    
    
    h1 {
        margin-top: 3%;
        text-align: center;
        font-size: 3.3vw;
        color: #988960;
        text-shadow: 3px 3px 6px #353123,
        -3px -3px 6px #dedabf;
    }
    #pose-image-container {
        //positioning of the display grids
        display: grid;
        grid-template-columns: 2fr 5fr;


        // positing image pose
        text-align: right;
        padding-right: 7%;
        padding-top: 2%;
        img {
            width: 50% ;
        }
        #text-bubble-p1{

            color: #988960;
            margin-left: 5%;
            margin-top: 12%;
            text-align: center;
            padding-left: 10%;

            ul{
                //positiing of display grid of the text bubbles
                display: grid;
                grid-template-columns: 20vw 20vw;
                row-gap:  20%;
                column-gap: 10%;
                list-style: none;
                
                
                li{
                    padding: 10%;
                    border-radius: 60px;
                    background: linear-gradient(145deg, #96b3d0, #b3d5f7);
                    box-shadow:  16px 16px 32px #8ea9c4,
                                -16px -16px 32px #c0e5ff;
                }

                
            }
            
        }
    }
}





#p2-projects {
    // background bolier plate

    background-image: url("../images/wave-haikei(3).svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 120vh;

    //
    
    padding-bottom: 10%;
    //
    #projects-list{
        //sorting positings of projects
        display: grid;
        grid-template-columns: 20vw 20vw 20vw;
        margin-left:2%;
        margin-right:2%;
        row-gap:  20%;
        column-gap: 10%;
        list-style: none;
        justify-content: center;
        
        li {
            text-align: center;
            // border stlying
            border-radius: 26px;
            background: #F5EFE6;
            box-shadow: inset 5px 5px 31px #95928c,
                    inset -5px -5px 31px #ffffff;
            // project positioning
            padding: 10%;

           
            
        }
    }



}