* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: #A7C7E7;
}

#nav-bar nav ul {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10%;
  list-style: none;
  justify-content: right;
}
#nav-bar nav ul li {
  text-align: center;
  margin-top: 20%;
}
#nav-bar nav ul li a {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: monospace;
  font-size: larger;
  text-decoration: none;
  color: #b09854;
  border-radius: 48px;
  background: linear-gradient(145deg, #cfe5fa, #96b3d0);
  box-shadow: 5px 5px 8px #6d8196, -5px -5px 8px #e1ffff;
}
#nav-bar nav ul li a:hover {
  color: #fde5a3;
  border-radius: 60px;
  background: linear-gradient(145deg, #81a0be, #b3d5f7);
  box-shadow: 5px 5px 8px #788ea4, -5px -5px 8px #d4edff;
}

#p1-intro {
  background-image: url("../images/wave-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
#p1-intro h1 {
  margin-top: 3%;
  text-align: center;
  font-size: 3.3vw;
  color: #c2a861;
  text-shadow: -1.5px -1.5px 1px #ffe29d, 2px 2px 4px #473d22;
}
#p1-intro #pose-image-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  text-align: right;
  padding-right: 7%;
  padding-top: 2%;
}
#p1-intro #pose-image-container img {
  width: 50%;
}
#p1-intro #pose-image-container #text-bubble-p1 {
  color: #988960;
  margin-left: 5%;
  margin-top: 12%;
  text-align: center;
  padding-left: 10%;
}
#p1-intro #pose-image-container #text-bubble-p1 ul {
  display: grid;
  grid-template-columns: 20vw 20vw;
  row-gap: 20%;
  -moz-column-gap: 10%;
       column-gap: 10%;
  list-style: none;
}
#p1-intro #pose-image-container #text-bubble-p1 ul li {
  padding: 10%;
  border-radius: 60px;
  background: linear-gradient(145deg, #96b3d0, #b3d5f7);
  box-shadow: 16px 16px 32px #8ea9c4, -16px -16px 32px #c0e5ff;
}

#p2-projects {
  margin-top: -10px;
  background-image: url("../images/wave-haikei(3).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 120vh;
  padding-bottom: 5%;
}
#p2-projects h1 {
  text-align: center;
  font-size: 3.3vw;
  color: #e1b66b;
  text-shadow: -1.5px -1.5px 1px #ffe29d, 1px 1px 4px #473d22;
  margin-bottom: 5%;
}
#p2-projects #projects-list {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  margin-left: 2%;
  margin-right: 2%;
  row-gap: 20%;
  -moz-column-gap: 10%;
       column-gap: 10%;
  list-style: none;
  justify-content: center;
}
#p2-projects #projects-list li {
  color: #75612b;
  text-align: center;
  border-radius: 32px;
  box-shadow: inset 7px 7px 12px #96938d, inset -7px -7px 24px #e1e1e1;
  padding: 10%;
}
#p2-projects #projects-list li h4 {
  padding-bottom: 10%;
}
#p2-projects #projects-list li img {
  width: 90%;
  padding-bottom: 10%;
}
#p2-projects #projects-list li a {
  color: #4e66b7;
  text-decoration: none;
  padding-left: 10%;
  text-shadow: 1px 1px 2px #a1c7cd, -1px -1px 2px #bfdcde;
}

#p3-exp-edu {
  padding-top: 20%;
  margin-top: -10px;
  background-image: url("../images/wave-haikei(4).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 20%;
}
#p3-exp-edu h1 {
  text-align: center;
  font-size: 3.3vw;
  color: #e1b66b;
  text-shadow: -1.5px -1.5px 1px #ffe29d, 1px 1px 4px #473d22;
  margin-bottom: 5%;
}
#p3-exp-edu #uni, #p3-exp-edu #work {
  border-radius: 28px;
  background: linear-gradient(145deg, #c3e0fa, #6d8494);
  box-shadow: 7px 7px 24px #4e555b, -7px -7px 24px #c0d9f6;
  padding: 5%;
  margin: 10%;
}
#p3-exp-edu #uni ul, #p3-exp-edu #work ul {
  list-style: none;
}

#p4-skills {
  margin-top: -10px;
  background-image: url("../images/wave-haikei(5).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
#p4-skills #skills-image-lists ul {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  margin-left: 5%;
  row-gap: 5%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  list-style: none;
  justify-content: center;
}
#p4-skills #skills-image-lists ul li img {
  width: 40%;
}

#p5-contacts {
  margin-top: -10px;
  background-image: url("../images/wave-haikei(6).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 50vh;
  padding-top: 10%;
  padding-bottom: 10%;
}
#p5-contacts ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  justify-content: center;
}
#p5-contacts ul li img {
  width: 30%;
}
#p5-contacts ul li a {
  margin-bottom: 10%;
}/*# sourceMappingURL=styles.css.map */